.space__agent{
    background: url(../img/base/background2.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: auto;
    position: relative;
}

.agent{
    padding: 60px 0 70px 0;
}

