/*background*/
$black: #25333c;
$grey: #f3f3f3;
$transperentDark: rgba(0.25, 0.25, 0.25, 0.4);
$transperentLight: rgba(255, 255, 255, 0.7);

$forMenu: rgba(37, 51, 60, 0.8);  

/*Text*/
$textForBlack: #d3d6d8;
$textForLight: #3a3a3a;
$textForImage: #ffffff;
$textForDescription: #3f3f3f;
$textRed: #e93b3b;

$textFormHeader: #ffffff;
$textFormInput: #616467;
$textFormButton: #ffffff;

/*all red*/
$red: #e93b3b;

$borderForImage: rgba(255, 255, 255, 0.4);
$borderForInput: #c1c4c7